@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }

  * {
    @apply border-gray-200;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
